/*
    CSS para as tabelas presentes em PDFs
*/
table {

}

.table, td, th, tr {
    border: 1px solid #575757;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table th {
    font-weight: bold;
}

.odd {
    background-color: #f1f1f1;
}