/***
Default theme
***/
/***
Reset and overrides
***/
body {
    background: url(../images/main/menu_bg1.png) !important;
    /*background-color: #3d3d3d;*/
}

/***
Page header
***/
.header .navbar-inner {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #f7f7f7, #f0f0f0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f0f0f0));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #f0f0f0);
    background-image: -o-linear-gradient(top, #f7f7f7, #f0f0f0);
    background-image: linear-gradient(to bottom, #f7f7f7, #f0f0f0);
    background-repeat: repeat-x;
    border-bottom: 1px solid #DDDDDD !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f0f0f0', GradientType=0) !important;
    *zoom: 1 !important;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.065) !important;
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.065) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.065) !important;
    color: #47423f;
}

.header .btn-navbar {
    background-color: #d5d5d5;
}

.header .nav .dropdown-toggle:hover,
.header .nav .dropdown.open .dropdown-toggle {
    background-color: #d9d9d9 !important;
}

.header .nav li.dropdown .dropdown-toggle i {
    color: #47423f;
}

/***
Page sidebar
***/
.page-sidebar {
    /*background-color: #e3e3e3 !important;*/
    background: url(../images/main/menu_bg.png) repeat !important;
    /*z-index:-1;*/
}

/***
Sidebar toggler
***/
.sidebar-toggler {
    /*background-image: url(../img/syncfusion-icons-white.png);*/
    background-color: #fcfcfc !important;
    border: 1px solid #b3b3b3 !important;
    border-bottom: 2px solid #b3b3b3 !important;
}

/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
    background-color: #eee !important;
}

/***
Horizontal Menu(new in v1.2)
***/
/*search*/
.header .hor-menu .hor-menu-search-form-toggler.hide {
    background: #000000 url(../../img/hor-menu-search-close.png) no-repeat center;
}

.header .hor-menu .search-form {
    background: #000000;
}

.header .hor-menu .search-form .btn {
    color: #d6d6d6;
    background: #000000 url(../../img/search-icon.png) no-repeat center;
}

.header .hor-menu .search-form form input {
    color: #d6d6d6;
}

.header .hor-menu .search-form form input::-webkit-input-placeholder {
    /* WebKit browsers */

    color: #d6d6d6;
}

.header .hor-menu .search-form form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */

    color: #d6d6d6;
}

.header .hor-menu .search-form form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */

    color: #d6d6d6;
}

.header .hor-menu .search-form form input:-ms-input-placeholder {
    /* Internet Explorer 10+ */

    color: #d6d6d6;
}

/***
Footer
***/
.footer .footer-inner {
    color: #999999;
}

.footer .footer-tools .go-top {
    background-color: #4f4f4f;
}

.footer .footer-tools .go-top:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.footer .footer-tools .go-top i {
    color: #8a8a8a;
}

/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
.page-footer-fixed .footer {
    background-color: #242424;
}

.page-footer-fixed .footer .footer-inner {
    color: #999999;
}

.page-footer-fixed .footer .footer-tools .go-top {
    background-color: #4f4f4f;
}

.page-footer-fixed .footer .footer-tools .go-top i {
    color: #8a8a8a;
}

/* end:fixed footer */
/***
Gritter Notifications
***/
.gritter-top {
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left -30px !important;
}

.gritter-bottom {
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left bottom !important;
}

.gritter-item {
    display: block;
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left -40px !important;
}

.gritter-close {
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left top !important;
}

.gritter-title {
    text-shadow: none !important;
    /* Not supported by IE :( */

}

/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: url(../../plugins/gritter/images/gritter-light.png) !important;
}

.gritter-item-wrapper a {
    color: #18a5ed;
}

.gritter-item-wrapper a:hover {
    color: #0b6694;
}

/* begin: boxed page */
@media (min-width: 980px) {
    .page-boxed {
        background-color: #2e2e2e !important;
    }

    .page-boxed .page-container {
        background-color: #d5d5d5;
        border-left: 1px solid #5e5e5e;
        border-bottom: 1px solid #5e5e5e;
    }

    .page-boxed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-bottom: 0;
    }

    .page-boxed.page-sidebar-fixed .page-sidebar {
        border-left: 1px solid #5e5e5e;
    }

    .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
        background-color: #2e2e2e !important;
    }
}

/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 979px) {
    /***
      page sidebar
      ***/
    .page-sidebar {
        background-color: none !important;
    }

    .page-sidebar .sidebar-search input {
        background-color: none !important;
    }
}

