/* 
    Document   : dialog
    Created on : 06/12/2013, 14:47:06
    Author     : Vinicius
    Description:
        CSS que será incluso sempre no layout dos dialogs
*/

#page { 
    background-color: white;
    padding: 10px 10px 1px 10px;
}

