/***
Login page
***/

/* logo page */
.login {
    background-color: #444 !important;
}

.login .content .logo {
    width: 247px;
    margin: 0 auto;
    /*margin-top:60px;*/
    /*  padding: 5px;*/
    text-align: center;
}

.login .content {
    background-color: #fff;
    border: 1px solid #6fb597;
    border-bottom: 0;
    width: 291px;
    margin: 100px auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 20px !important;
}


.login .content h3 {
    color: #47423f;
}

.login .content h4 {
    color: #47423f;
}

.login .content p {
    color: #47423f;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .m-wrap.required {
    width: 249px;
    border: 1px solid #e5e5e5;
    border-left: 0;
}

.login .content .input-icon {
    border-left: 2px solid #527578 !important;
}

.login .content .control-group {
    margin-bottom: 20px !important;
}

.login .content .input-icon .m-wrap {
    margin: 0px !important;
}

.login .content .forget-form {
    display: none;
}

.login .content .register-form {
    display: none;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    background-color: #fff;
    clear: both;
    border: 0px;
    border-bottom: 3px solid #efefef;
    padding: 15px 30px 10px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .forget-password {
    margin-top: 25px;
}

.login .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
    border-left: 2px solid #35aa47 !important;
}

.login .content .select2-container .select2-choice {
    border-left: none !important;
}

.login .content .select2-container i {
    display: inline-block;
    color: #ccc;
    z-index: 1;
    margin: 2px 4px 4px 3px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

.login .content .select2-container a span {
    font-size: 13px;
}

.login .content .select2-container a span img {
    margin-left: 4px;
}

/* footer copyright */
.login .copyright {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    color: #999;
    font-size: 11px;
}

#colorbar {
    max-width: 351px;
    height: 4px;
    margin: 0 auto;
    border-left: 1px solid #555355;
    border-right: 1px solid #555355;
}

@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top: 10px;
    }

    .login .content {
        padding: 30px;
        width: 222px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .login .content .m-wrap {
        width: 180px !important;
    }

    .login .checkbox {
        font-size: 13px;
    }

    #colorbar {
        max-width: 282px;
    }
}
